@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-gray-700);
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.7) inset;
}

.dark {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-gray-300);
    -webkit-box-shadow: 0 0 0px 1000px rgb(40, 40, 40) inset;
  }
}

@theme {
  --animate-fadeIn: fadeIn 1s ease-in;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
